/* Group 7498 */

position: absolute;
width: 1866px;
height: 1220.14px;
left: 0px;
top: -81.07px;



/* logo-philcomp-II-mono-claro */

position: absolute;
left: 0%;
right: 89.5%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 12.79%;
right: 76.71%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 25.57%;
right: 63.93%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 38.36%;
right: 51.14%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 51.14%;
right: 38.36%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 63.93%;
right: 25.57%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 0%;
right: 89.5%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 12.79%;
right: 76.71%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 25.57%;
right: 63.93%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 38.36%;
right: 51.14%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 51.14%;
right: 38.36%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 63.93%;
right: 25.57%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 0%;
right: 89.5%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 12.79%;
right: 76.71%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 25.57%;
right: 63.93%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 38.36%;
right: 51.14%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 51.14%;
right: 38.36%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 63.93%;
right: 25.57%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 76.71%;
right: 12.79%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 89.5%;
right: 0%;
top: 16.28%;
bottom: 64.17%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 76.71%;
right: 12.79%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 89.5%;
right: 0%;
top: 40.23%;
bottom: 40.23%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 0%;
right: 89.5%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 12.79%;
right: 76.71%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 25.57%;
right: 63.93%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 38.36%;
right: 51.14%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 51.14%;
right: 38.36%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 63.93%;
right: 25.57%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 0%;
right: 89.5%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 12.79%;
right: 76.71%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 25.57%;
right: 63.93%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 38.36%;
right: 51.14%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 51.14%;
right: 38.36%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 63.93%;
right: 25.57%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 76.71%;
right: 12.79%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 89.5%;
right: 0%;
top: 64.17%;
bottom: 16.28%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 76.71%;
right: 12.79%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 89.5%;
right: 0%;
top: 88.12%;
bottom: -7.66%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 76.71%;
right: 12.79%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);


/* logo-philcomp-II-mono-claro */

position: absolute;
left: 89.5%;
right: 0%;
top: -7.66%;
bottom: 88.12%;

background: rgba(42, 58, 94, 0.02);
